body{
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    color: #150941;
}



header{
    width: 100%;
    height: 200px;
    background-color: #E80140;
    color: #EAEAEA;

}
header div{
    margin-left: 20px;
    padding: 10px;
}
header ul{
    display: flex;
    justify-content: flex-end;
}
ul {
    list-style-type: none;
}
header a{
    text-decoration: none;
    padding: 10px;
    color: #EAEAEA;
}
a:hover {
    color: #150941;
}
a:active {
    text-decoration: none;
}






main{
    padding-top: 20px;
    padding-bottom: 50px;   
}
img{
    width: 200px;
    border-radius: 10%;
}






footer{
    background-color: #E80140;
    height: 50px;
    text-align: center;
}
footer div{
    padding: 10px;
}
footer a{
    text-decoration: none;
}